@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  background-color: black;
  font-family: 'Nunito', sans-serif;
}

p {
  color: white
}

h1 {
  color: white;
  text-align: center; 
}

img {
  width: 20%;
  margin: 0 auto;
  display: block;
}

a {
  color: white;
}

.center {
  justify-content: center;
  text-align: center;
  align-content: center;
}