@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-size: 15pt;
    font-family: 'Nunito', sans-serif;
}

h1 {

font-size: 40pt;
text-align: center;
color: white;
}

img {
  width: 33%;
  margin: 0 auto;
  display: block;
  }
  
  body {
    background-color: #030c18;
    }
    
    p {
      color: white
      }
      
      a {
        color: white
      }
      
.center {
  justify-content: center;
  text-align: center;
  align-content: center;
}
    
