body {
    font-size: 15pt;
}

h1 {

font-size: 40pt;
text-align: center;
color: white;
}

img {
  width: 33%;
  margin: 0 auto;
  display: block;
  }
  
  body {
    background-color: black;
    }
    
    p {
      color: white
      }
      
      a {
        color: white
      }
      
      
    
